@font-face {
  font-family: ZabraProTest;
  font-display: swap;
  src: url("../fonts/ZabraProTest-Medium.woff2") format("woff2"), url("../fonts/ZabraProTest-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: ZabraProTest;
  font-display: swap;
  src: url("../fonts/ZabraProTest-Regular.woff2") format("woff2"), url("../fonts/ZabraProTest-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

.test {
  margin-top: 100px;
  margin-left: 100px;
  font-size: 34px;
}

.p2 {
  text-transform: uppercase;
}

.div2 {
  margin-top: 150px;
}

.div1 {
  font-family: ZabraProTest;
  font-weight: 400;
}

.div2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}